# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
build/
dist/
*.egg-info/

# Virtual environments
.venv/
venv/
env/

# Environment files
.env
.env.*

# IDE / OS
.vscode/
.idea/
.DS_Store

# OCR files
/input/*
/output/*.txt
/output/raw/*
/output/cleaned/*
*.jpg
*.jpeg
*.png
*.JPG
*.JPEG
*.PNG
*.txt

# Chunk files
/output/chunks/*
!output/chunks/.gitkeep

# Vector DB
/output/chroma/*

!input/.gitkeep
!output/.gitkeep
!output/raw/.gitkeep
!output/cleaned/.gitkeep
!requirements.txt
